.centerblock__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  overflow: hidden;
}

.content__playlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-y: auto;
  flex: 1;
  min-height: 0;
  padding-right: 10px;
  padding-bottom: 10px;
}

/* Стилизация скроллбара */
.content__playlist::-webkit-scrollbar {
  width: 6px;
}

.content__playlist::-webkit-scrollbar-track {
  background: transparent;
}

.content__playlist::-webkit-scrollbar-thumb {
  background: #4e4e4e;
  border-radius: 3px;
}

.content__playlist::-webkit-scrollbar-thumb:hover {
  background: #696969;
}


.errorContainer {  
  color: red;
}