.filter__item {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
  transition: color 0.2s ease;
  list-style: none;
  white-space: nowrap;  
  text-overflow: ellipsis;
  max-width: 100%;
  background: none;
  border: none;
  text-align: left;  
  width: 100%;
  border-radius: 4px;
}

.filter__item:hover {
  color: #d9b6ff;
  
}

.filter__item.active {
  color: #ad61ff;
  
}

.filter__item.active {
  color: #ad61ff;
  font-weight: 500;
  text-decoration: underline;
  
}