.filterContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 51px;
  position: relative;
}

.filter__title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-right: 15px;
  color: white;
}

.filter__button {
  display: flex;
  gap: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #ffffff;
  border-radius: 60px;
  padding: 6px 20px;
  color: white;
  transition: all 0.2s ease;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
  z-index: 2;
}

.filter__button:hover {
  border-color: #d9b6ff;
  color: #d9b6ff;
}

.filter__button:active,
.filter__button.active {
  border-color: #ad61ff;
  color: #ad61ff;
}

.filter__dropdown {
  position: absolute;
  top: 45px;
  left: 0;
  margin-top: 8px;
  background-color: #313131;
  border-radius: 12px;
  padding: 34px;
  width: 248px;
  max-height: 305px;
  z-index: 1000;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.2s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.filter__list {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-height: 237px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  padding-right: 10px;
}

.filter__list::-webkit-scrollbar {
  width: 4px;
  background: transparent;
}

.filter__list::-webkit-scrollbar-track {
  background-color: #121212;
  border-radius: 10px;  
  margin-top: 10px;
  margin-bottom: 10px;
  background-clip: content-box;
}

.filter__list::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 10px; 
}

