.main__nav {
  width: 244px;
  background-color: #181818;
  padding: 20px 0 20px 36px;
  position: relative;
}

.nav__logo {
  width: 113.33px;
  height: 43px;
  padding: 13px 0 13px 0;
  background-color: transparent;
  margin-bottom: 20px;
}

.logo__image {
  width: 113.33px;
  height: 17px;
  color: #181818;
}

.nav__burger {
  width: 20px;
  height: 36px;
  padding: 13px 0;
  display: flex;
  flex-direction: column;  
  justify-content: space-between;  
  cursor: pointer;
  z-index: 10;
}

.burger__line {
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #d3d3d3;
  transition: all 0.3s ease;
}

.nav__burger_active .burger__line:first-child {
  transform: rotate(45deg) translate(5px, 5px);
}

.nav__burger_active .burger__line:nth-child(2) {
  opacity: 0;
}

.nav__burger_active .burger__line:last-child {
  transform: rotate(-45deg) translate(5px, -5px);
}

.nav__menu {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  position: absolute;   
}

.nav__menu_active {
  display: block;
  visibility: visible;
  opacity: 1;
}

.menu__list {
  padding: 18px 0 10px 0;
  list-style-type: none;
}

.menu__item {
  padding: 5px 0;
  margin-bottom: 16px;
}

.menu__link {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: block;  
}
